*.pdb
*.exp
*.ipch
*.tlog
*.ilk
*.obj
*.opt
*.opensdf
*.sdf
jabber/
Tools/
*.idb
*.log
/bin/exe/backcard.exe
/Projects/backcard/Debug/backcard.log
/Projects/backcard/Debug/vc120.idb
/bin/exe/libcurld.dll
